#qna {
  display: none;
}

.qBox {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  width: 80%;
}

.answerList {
  background-color: white;
  border-radius: 20px;
  display: block;
  border: 0px;
  font-size: 22px;
  width: 80%;
}

.answerList:hover, .answerList:focus {
  background-color: lavender ;
  color: white;
}

.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b2e1ff+0,66b6fc+84 */
  background: #b2e1ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 84%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 84%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */

  border-radius: 20px;
}
